.add-todo {
  margin-bottom: 25px; 
}

.add-todo-form {
  display: flex; 
  gap: 10px; 
  align-items: center; 
}
.date-input {
  height: 40px;
  flex-grow: 0; 
  flex-shrink: 0; 
  width: 140px; 
  padding: 15px; 
  border-radius: 12px;
  border: 3px solid #e0e0e0;
  font-family: 'Press Start 2P', cursive;
  font-size: 8px; 
  background-color: #fff;
  color: #5d7e51;
  box-sizing: border-box;
  outline: none;
}

.date-input:focus {
  border-color: #f6b5d0;
}

.text-input {
  height: 40px;
  flex-grow: 1; 
  padding: 10px 12px; 
  border-radius: 12px;
  border: 3px solid #e0e0e0;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  background-color: #fff;
  color: #5d7e51;
  box-sizing: border-box;
  outline: none;
}

.text-input::placeholder {
  color: #b8daab;
}

.text-input:focus {
  border-color: #f6b5d0;
}

.add-todo-form button {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  padding: 12px 15px; 
  background-color: #f6b5d0;
  color: #a73c68;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 0 0 #d95a8f;
  transition: all 0.05s ease-in-out;
  flex-shrink: 0; 
}

.add-todo-form button:active{
  box-shadow: 0 1px 0 0 #d95a8f;
  transform: translateY(3px);
}